/*-- scss:defaults --*/
$primary: #2c5f7c;
$font-family-sans-serif: "Source Sans Pro", -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;

/*-- scss:rules --*/
.csl-entry { margin-bottom: 0.8em; }
.affil-logo { height: 5em; width: auto; margin: 0.4em 0.3em 0; }
.quarto-title-block p:has(.affil-logo), .about-entity p:has(.affil-logo) { white-space: nowrap; }
